body{
    background-color: #3D5A80;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:rgb(238, 108, 77)
}
h2{
    color: #E0FBFC;
}
li{
    color: e6e6ea;
}
#bordeado{
    border: 3px;
    border-style: solid;
    border-color: white;
}
#aloha{
    background-color: #293241;
    color: white;
}
input{
    border: 2px;
    border-style: dashed ;
    border-color: rgb (238, 108, 77) ;
}
div p{
    color: #98C1D9;
    font-size: 150%;
}
input[type=text]{
    background-color: #00aae4 ;
}
a:visited{
    color: white;
}
div:nth-of-type(3) p{
    background-color: blue;
    color: black;
}
div:nth-of-type(3) p:nth-of-type(2){
    border-color: white;
    border: 4px;
    border-style: dashed;
}
div:nth-of-type(3) span{
    background-color: white;
}
:checked{
    margin-left: 60px;
}
label{
    text-transform: uppercase;
}
#ultimo::first-letter{
    font-size: 300%;
    background-color: orange;
}
.boton:active{
    background-color: yellow;
    width: 100px;
}
input[type=text]:focus{
    border: 9px;
    border-color: green;
    border-style: dashed;
}
#ultimo:hover{
    color: red;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:cover;
    float: left ;
}